[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
redis = "*"
"beautifulsoup4" = "*"
requests = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.6"
